---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Project {
    title: string;
    subtitle: string;
    href: string;
    image: ImageMetadata;
}

interface Props {
    project: Project;
    imageSize: number;
}

const { project, imageSize } = Astro.props;
---
<style>
.card {
    text-decoration: none;
    color: inherit;
    overflow: hidden;

    transition: transform .2s ease, border-color .2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    border-radius: 12px;
}
</style>

<a href={project.href} class="card">
    <Image
        src={project.image}
        alt={project.title}
        width={imageSize}
        height={imageSize}
        class="card-image"
    />
</a>

